@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-vue/src/index';

html {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body {
  height: inherit;
  width: inherit;
}
header {
  * {
    margin-right: 30px;
  }
  button,
  input {
    max-width: 10%;
  }
}
.ring {
  margin: 0 auto;
  width: 200px;
  min-height: 188px;
  float: left;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(8deg);
          transform: rotateY(8deg);
  -webkit-transition: transform 1.5s ease-in-out;
          transition: transform 1.5s ease-in-out;
}
.slot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: inherit; /*90*/
  min-height: inherit; /*80*/
  box-sizing: border-box;
  opacity: 0.9;
  color: rgba(0, 0, 0, 0.9);
  background: #fff;
  border: solid 1px #000;
  text-align: center;
}
.slot > p {
  max-width: inherit;
  margin: 0 auto;
}
#reelsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.reelContainer {
  display: flex;
  flex-direction: column;
  min-height: 470px;
}
.perspective {
  -webkit-transform: rotateY(10deg);
          transform: rotateY(10deg);
  -webkit-transition: transform 1.5s ease-in-out;
          transition: transform 1.5s ease-in-out;
}
.w-90 {
  max-width: 90%;
}